footer {
  display: flex;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  border-top: 1px solid lightgray;
  min-height: 3rem;
  > * {
    // display: flex;
    // flex-direction: row;
  }
}
